html {
    scroll-behavior: smooth;
    /* background-image: linear-gradient(to right top, #0e1e71, #005bb3, #0094d3, #00cccc, #00ffad); */
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Raleway;
}

a {
    text-decoration: none;
    color: white;
}

.navigator {
    font-family: Raleway;
    background-color: #565656;
    padding: 7px;
    color: white;
    border-bottom: 3px solid #FFAC3B;
    position: fixed;
    width: 100%;
    top: 0px;
}

.name {
    font-family: Raleway;
    text-align: left;
    margin-left: 200px;
    font-size: 300%;
    margin-top: 150px;
    /* background-image: linear-gradient(to bottom right, #B8ABFE, #0AFFDA, #2BFFE8, rgb(0, 247, 255), #B8ABFE); */
}

.full-name {
    border-bottom: 4px solid black;
    margin-right: 200px;
    padding-bottom: 20px;
}

.menu {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 50px;
    color: white;
}

a:hover {
    color: #FFAC3B;
}

.menu:active {
    transform: translateY(1px);
    filter: brightness(80%);
}

.menu:visited {
    text-decoration: none !important;
}

.desc {
    border-left: 3px solid #FFAC3B;
}

.info {
    font-family: Lato;
    margin-left: 200px;
    font-size: 150%;
    padding-left: 30px;
}

.address {
    margin-top: 100px;
}

.subtitle {
    font-family: Raleway;
    margin-top: 70px;
}

.skills-acc {
    font-family: Lato;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
}

.experience {
    font-family: Lato;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
}

.xp-name {
    margin-bottom: 5px;
    font-size: 110%;
}

.xp-date {
    color: rgb(83, 83, 83);
    margin-top: 0px;
    font-size: 110%;
}

.education {
    font-family: Lato;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
}

.ed-name {
    margin-bottom: 5px;
    font-size: 110%;
}

.ed-date {
    color: rgb(83, 83, 83);
    margin-top: 0px;
    font-size: 110%;
}

.interests {
    font-family: Lato;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
    margin-bottom: 100px;
}

footer {
    background-color: #565656;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #FFAC3B;
}

img:active {
    transform: translateY(1px);
    filter: brightness(80%);
}

img:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius:100px;
}

img {
    max-height: 40px;
    max-width: 40px;
}
