html {
    scroll-behavior: smooth;
    /* background-image: linear-gradient(to right top, #0e1e71, #005bb3, #0094d3, #00cccc, #00ffad); */
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Raleway;
    background-image: url("https://i.imgur.com/0m3yQaO.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menus {
    text-decoration: none;
    color: white;
}

#top {
    color: white;
}

.nav {
    font-family: Raleway;
    background-color: black;
    padding: 7px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
    z-index: 10;
    border-bottom: 3px solid #FFAC3B;
}

.en-fr {
    position: absolute;
    width: 30px;
    right: 60px;
    top: 5px;
    font-weight: 300;
}

.language {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
}

.language:hover {
    background-color: white;
    color: black;
}

.name {
    font-family: Raleway;
    text-align: left;
    font-size: 500%;
    color: white;
    /* background-size: 1450px;
    background-repeat: no-repeat; */
    /* background-image: linear-gradient(to bottom right, #B8ABFE, #0AFFDA, #2BFFE8, rgb(0, 247, 255), #B8ABFE); */
}

.full-name {
    padding-right: 200px;
    padding-left: 100px;
    padding-top: 175px;
    margin-top: 0px;
    padding-bottom: 190px;
    border-bottom: 20px solid black;
}

.menu {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 50px;
    color: white;
    font-weight: 300;
}

.menus:hover {
    color: #FFAC3B;
}

.menu:active {
    transform: translateY(1px);
    filter: brightness(80%);
}

.menu:visited {
    text-decoration: none !important;
}

.desc {
    border-left: 3px solid #FFAC3B;
    font-weight: 300;
}

.info {
    font-family: Nunito;
    margin-left: 200px;
    font-size: 150%;
    padding-left: 30px;
    font-weight:300;
}

.address {
    margin-top: 50px;
    font-weight:300;
}

.contact {
    font-weight:300;
}

.subtitle {
    font-family: Raleway;
    font-weight:300;
    margin-top: 70px;
}

.skills-acc {
    font-family: Nunito;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
}

.experience {
    font-family: Nunito;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
}

.xp-name {
    margin-bottom: 5px;
    font-size: 110%;
    font-family: Nunito;
    font-weight:300;
}

.xp-date {
    color: rgb(83, 83, 83);
    margin-top: 0px;
    font-size: 110%;
    font-family: Nunito;
    font-weight:300;
}

.education {
    font-family: Nunito;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
}

.ed-name {
    margin-bottom: 5px;
    font-size: 110%;
    font-family: Nunito;
    font-weight:300;
}

.ed-date {
    color: rgb(83, 83, 83);
    margin-top: 0px;
    font-size: 110%;
    font-family: Nunito;
    font-weight:300;
}

.interests {
    font-family: Nunito;
    margin-left: 200px;
    font-size: 125%;
    padding-left: 30px;
    margin-bottom: 100px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #FFAC3B;
}

.back-to-top:active {
    transform: translateY(1px);
    filter: brightness(80%);
}

.back-to-top:hover {
    box-shadow: 0 12px 16px 0 rgba(122, 122, 122, 0.315), 0 17px 50px 0 rgba(131, 131, 131, 0.19);
    border-radius:100px;
}

.back-to-top {
    max-height: 40px;
    max-width: 40px;
}

.background {
    position: absolute;
    background-position-x: 0;
    background-position-y: 0;
    height: 800px;
    width: 100%;
    filter: brightness(65%)
}

.icon {
    max-width: 60px;
    max-height: 60px;
    left: 75px;
    position: absolute;
}

.contact {
    top: 1065px;
}

.ski-acc {
    top: 1370px;
}

.exp {
    top: 1815px;
}

.edu {
    top: 2275px
}

.int {
    top: 2590px;
}
  
.arrow {
cursor: pointer;
height: 80px;
left: 50%;
position: absolute;
top: 725px;
transform: translateX(-50%) translateY(-50%) rotate(90deg);
transition: transform .1s;
width: 54px;
}
.arrow-top, .arrow-bottom {
background-color: black;
height: 4px;
left: -5px;
position: absolute;
top: 50%;
width: 100%;
}
.arrow-top:after, .arrow-bottom:after {
background-color: #fff;
content: '';
height: 100%;
position: absolute;
top: 0;
transition: all 0.15s;
}
.arrow-top {
transform: rotate(45deg);
transform-origin: bottom right;
}
.arrow-top:after {
left: 100%;
right: 0;
transition-delay: 0s;
}
.arrow-bottom {
transform: rotate(-45deg);
transform-origin: top right;
}
.arrow-bottom:after {
left: 0;
right: 100%;
transition-delay: 0.15s;
}
.arrow:hover .arrow-top:after {
left: 0;
transition-delay: 0.15s;
}
.arrow:hover .arrow-bottom:after {
right: 0;
transition-delay: 0s;
}
.arrow:active {
transform: translateX(-50%) translateY(-50%) rotate(90deg) scale(0.9);
}

.me-pic {
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 260px;
    right: 175px;
    border: 3px solid white;
    z-index: 5;
    padding: 0px;
}
